html {
  font-family: "Roboto", sans-serif;
}

.--dark-theme {
  --chat-background: rgba(10, 14, 14, 0.95);
  --chat-panel-background: #131719;
  --chat-bubble-background: #14181a;
  --chat-add-button-background: #212324;
  --chat-send-button-background: #8147fc;
  --chat-text-color: #a3a3a3;
  --chat-options-svg: #a3a3a3;
}

body {
  /* https://unsplash.com/photos/snow-capped-mountains-rise-above-a-grassy-landscape-LJh9ayGO8t8 */
  background: url('./assets/unsplash.jpg');
  background-size: cover;
}

#chat {
  background: var(--chat-background);
  max-width: 600px;
  margin: 25px auto;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 12px;
  /* position: relative; */
  overflow: hidden;
}
#chat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#chat .chat_box {
  padding: 1em 0 2em;
  height: calc(100vh - 55px - 2em - 25px * 2 - .5em - 3em);
  overflow: auto;
}

#chat .chat_box_container.reversed {
  flex-direction: row-reverse;
}
#chat .chat_box_container.reversed .chat_box_bubble {
  position: relative;
}
#chat .chat_box_container.reversed .chat_box_bubble span:not(:last-child) {
  margin: 0 0 2em 0;
}
#chat .chat_box_container.reversed .person {
  margin: 0 0 0 1.2em;
}
#chat .chat_box_container.reversed .chat_box__message__options {
  align-self: center;
  position: absolute;
  left: 0;
  display: none;
}

#chat .chat_box_container {
  position: relative;
  display: flex;
  flex-direction: row;
}
#chat .chat_box_container {
  position: relative;
  display: flex;
  flex-direction: row;
}
#chat .chat_box_container:hover .chat_box__message__options {
  display: flex;
  align-items: center;
}
#chat .chat_box_container:hover .option-item:not(:last-child) {
  margin: 0 0.5em 0 0;
}
#chat .chat_box_container:not(:last-child) {
  margin: 0 0 2em 0;
}

#chat .chat_box_context {
  max-width: 55%;
  align-self: flex-end;
}


#chat .chat_box_bubble span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-table;
  word-wrap: break-word;
  background: var(--chat-bubble-background);
  font-size: 14px;
  color: var(--chat-text-color);
  padding: 0.5em 0.8em;
  line-height: 1.5;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  border-color: white;
    border: 1px solid #262626;
}
#chat .chat_box_bubble:not(:last-child) {
  margin: 0 0 0.3em;
}
#chat .chat_box_bubble:active {
  background: var(--chat-bubble-active-background);
}


#chat .chat_panel {
  background: var(--chat-panel-background);
  border-radius: 12px;
  padding: 0 1em;
  height: 55px;
  margin: 0.5em 0 0;
}
#chat .chat_box_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
#chat .chat_box_panel .panel-item:not(:last-child) {
  margin: 0 1em 0 0;
}


#chat .chat_box_input {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
  color: var(--chat-text-color);
  font-size: 14px;
  background: transparent;
  border: 0;
  font-family: "Roboto", sans-serif;
  resize: none;
}

#chat .person {
  text-align: center;
  margin: 0 1.2em 0 0;
}
#chat .person_avatar {
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
#chat .person_avatar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
#chat .person_avatar svg {
  height: 100%;
  width: auto;
  color:white
}

/*  */
/* 
.bubble {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}
.bubble.user {
    background-color: #d1e7dd;
    align-self: flex-end;
    text-align: right;
}
.bubble.assistant {
    background-color: #f8d7da;
    align-self: flex-start;
    text-align: left;
} */


@media only screen and (max-width: 600px) {
  #chat {
    margin: 0;
    border-radius: 0;
  }
  #chat .chat_box {
    height: calc(100vh - 55px - 2em - .5em - 3em);
  }
  #chat .chat_box__message__options {
    display: none !important;
  }
}


/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#bbbbbb 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}


/*  */


.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidepanel.active {
  width: 250px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    right: 15px;
    color: var(--chat-text-color);
    cursor: pointer;
}

.openbtn {
    font-size: 14px;
    cursor: pointer;
    background-color: var(--chat-panel-background);
    color: var(--chat-text-color);
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.openbtn:hover {
  background-color:#444;
}

.sidepanel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidepanel li {
    background: #1e1e1e;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid #292929;
    position: relative;
    padding-right: 30px;
    font-size: 14px;
    color: var(--chat-text-color);
    cursor: pointer;
}

.sidepanel li.active {
  border: 1px solid #7e7e7e;
}

.sidepanel li .deleteBtn {
cursor: pointer;
    position: absolute;
    top: -2px;
    right: -4px;
    padding: 10px;
}

.sidepanel li .deleteBtn svg:hover {
  color:red
}



.new-chat-button {
  cursor: pointer;
    color: #e2e2e2;
    text-align: center;
    border-top: 1px solid #2d2d2d;
    margin: 10px;
    padding-top: 10px;
    font-size: 14px;
    color: var(--chat-text-color);
}

.new-chat-button:hover {
  color: #45f2f7
}